.mapWrapper{
    position: fixed;
    top: 70px; /* или другой размер вашего хедера */
    /* bottom: 50px;  */
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.marker{
    color:white;
}

.card{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    color:orange;
    border-bottom: 1px solid orange;
    
}
form{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

input{
    border:none;
    border-bottom: 1px solid orange;
}

input::placeholder , textarea::placeholder{
    font: size 14px;
    color:grey;

}

.submitPinButton{
    margin-top: 10px;
    border:none;
    padding: 5px;
    border-radius: 5px;
    color:orange;
    background-color: grey;
    cursor:pointer
}


  